@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}


body {
	font-family:Calibri, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#383737;
	font-size:15px;

}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve   {
	height: auto;
	width: 760px;
	padding: 10px;
	float: left;
}
p span {
	font-size: 16px;
	color: #990000;
	font-weight:bold;
	padding-bottom: 10px;
	padding-top: 5px;
}
.img {
	float: left;
	width: 180px;
	position: relative;
	height: auto;
	z-index: 1;
	margin-left: -30px;
}
.text {
	float: right;
	width: 560px;
	position: relative;
	z-index: 2;
	background-repeat: no-repeat;
	background-position: right center;
	height: auto;
}
.text p {
	padding-bottom: 5px;
	text-align: justify;
}

.text ul {
	list-style-position: outside;
	padding-left: 50px;
	text-align: justify;
}
.text ul li {
	padding-bottom: 2px;
}

#dist_1, #dist_2, #dist_3, #dist_4, #dist_5, #dist_6, #dist_7, #dist_8, #dist_9, #dist_10, #dist_11, #dist_12   {
	height: auto;
	width: 760px;
	padding: 10px;
	text-align:center;
}
#dist_1 img, #dist_2 img, #dist_3 img, #dist_4 img, #dist_5 img, #dist_6 img, #dist_7 img, #dist_8 img, #dist_9 img, #dist_10 img, #dist_11 img, #dist_12 img   {
	height: auto;
}