/* =======================================
SHEBU RESPONSIVE STYLES - DEVICES RESOLUTION
========================================== */

/* good method for responsive shahwal
@media all and (max-width: 991px) {}
@media all and (max-width: 569px) {}
*/



@media all and (max-width: 400px) {}
@media all and (max-width: 569px) {



}


@media all and (max-width: 991px) {
.toplog {width: 100%;}
.toplog .toplog-in {width:98%;}
.toplog-in .log {float:none; text-align:center;}
.toplog-in .log img {width:auto; height:50px;;}

.social {float:none; margin:0 auto;}
.social-tbl {display:none;}
.searching {float:none !important; margin:0 auto; position:relative; width:240px; height:48px;}

.top .topin {width: 98%;}
.topin .navg {width: 100%; height: auto; float:left;}


.contac {padding-top:30px;padding-bottom: 30px;}
.contac-in {width: 94%;}
.addr {font-size: 16px; line-height: 24px; height:auto; padding:40px 0}
.addr br {display:none;}
.addr h2 {font-size:22px;;}
.contac-in iframe {width:100%; height:250px;}


.contnum {padding-top: 50px;padding-bottom: 50px;}
.contnum .contnum-in {width:94%;}
.contnum-in h2 {font-size: 20px; line-height: 26px;}
.contnum-in p {font-size: 20px;	line-height: 24px;}


.foundation {padding-top: 30px;padding-bottom: 30px;}
.foundation .foundation-in {width:90%; font-size: 16px;}
.foundation-in h2 {font-size: 24px;	line-height: 26px;}
.foundation-in p {font-size: 16px; line-height: 25px;}


.events {padding-top: 50px;padding-bottom: 50px;}
.events-in {width:94%;}
.events-in h2 {font-size: 18px;	line-height: 24px;	margin:25px 0; text-align:left;}
.events-in p {font-size: 15px;	line-height: 25px;	margin:20px 0;}


.eventdo {padding-top: 30px; padding-bottom: 30px;}
.eventdo .eventdo-in {width:94%;}
.eventdo-in h2 {font-size: 20px; line-height: 34px;	margin:0px 0;}
.eventdo-in p {font-size: 15px;	color: #1a1a1a; text-align: center;	line-height: 25px;	margin:20px 0;}



.donate {padding-top:30px;	padding-bottom:30px;}
.donate .donate-in {width:90% !important;}
.donate-in ul li .imag img {width:100%; height:auto;}

.whowe {padding-top: 30px;padding-bottom: 30px;}
.whowe .whowe-in {width:94%;}
.whowe-in h2 {font-size: 30px; line-height: 30px;}
.whowe-in p {font-size: 18px;line-height: 30px;}
.buttons1 {text-decoration:none; background:#3a3634; font-weight:600; color:#FFF; padding:0px 12px; line-height:30px;}


.volun1 {padding-top: 15px;padding-bottom: 15px;}
.volun1 .volun1-in {width: 96%;	font-size:16px;}
.volunteer {padding-top: 36px;	padding-bottom: 36px;}
.volunteer-in {width: 96%;}
.volnbox h2 {font-size: 30px;	line-height: 30px;	margin-bottom:20px;}
.volnbox p {font-size: 16px;line-height: 22px;margin-bottom:8px;}



.prds {padding-top: 35px; padding-bottom: 35px;}
.prds .prd-ins {width:90%}
.prd-ins h3 {font-size: 24px;line-height: 26px;margin-bottom:26px;}
.prd-ins p {font-size: 18px;line-height: 26px;margin-bottom:30px;}

.inspiration {padding:30px 0;}
.inspiration .inspiration-in {width: 94%;}
.inspiration-in h2 {font-size: 26px;line-height: 30px;margin-bottom:25px;}
.inspiration-in p {font-size: 16px;line-height: 20px;margin-bottom:15px;}
.footr .footr-in {width:98%; font-size: 13px; padding-top: 14px; padding-bottom: 14px;}
}

@media only screen and (min-width: 280px) and (max-width: 400px){
.we-are {padding-top: 30px;	padding-bottom: 30px;}
.we-are .we-are-in {width:90%;}
.we-are-in .heading2 {font-size: 30px; line-height: 36px;}
.we-are-in ul {margin:30px 0 0 0;}
.we-are-in ul li {margin: 25px 1%; width:100%;}
}

@media only screen and (min-width: 401px) and (max-width: 569px){
.we-are {padding-top: 30px;	padding-bottom: 30px;}
.we-are .we-are-in {width:90%;}
.we-are-in .heading2 {font-size: 30px; line-height: 36px;}
.we-are-in ul {margin:30px 0 0 0;}
.we-are-in ul li {margin: 15px 2%;	width:46%;}
.we-are-in ul li .wepc img {width: 100%;}	
}


@media only screen and (min-width: 280px) and (max-width: 569px){



.inner-ban {height:128px;}
.inner-ban-in {width:96%;}
.inner-ban-in h1 {font-size: 38px;line-height: 42px;margin-top:40px;}

.what-we-do {padding-top: 30px;	padding-bottom: 30px;}
.what-we-do .what-we-do-in {width:94%}
.what-we-do-in h2 {font-size: 20px; line-height: 24px;	margin:30px 0;}
.what-we-do-in p {font-size: 14px; line-height: 22px; margin-bottom:14px;}
.paperwork {width:100%;}
.paperwork-in {width:94%}


.banner {height:auto;	width: 100%;}
.banner #slideshow li {background-position: center top;	width:100%; max-width:569px; max-height:348px; list-style-type:none; height:348px; background-size:cover;}
.px1002 {width: 100%; margin-top:0px;}
.px1002 .box {width: 94%; float: right; padding:5%; margin:3%;}
.px1002 .box h1 {font-size: 26px; line-height: 35px;}
.px1002 .box h1 span {font-size: 26px;}
.contn .in {width: 90% !important;}


.donate {padding-top:30px;	padding-bottom:30px;}
.donate .donate-in {width:90%;}
.donate-in ul li {width:100%; margin:0 0 25px 0;}
.donate-in ul li .imag img {width:100%; height:auto;}
	
.volunteer .volnbox {width:96%;	padding: 6%; float:none; margin:0 auto;}

.involv {padding-top: 40px;	padding-bottom: 40px;}	
.involv .involv-in {width:90% !important;}
.involv-in h2 {font-size: 28px; line-height: 32px;}
.involv-in ul {
	margin: 50px 0 0 0;
	list-style-type: none;
}
.involv-in ul li {
	margin:0 0 30px 0;
	float:left;
	position:relative;
	display:block;
	height: auto;
	width:100%;
	padding:30px 5%;
}
.involv-in ul li br {display:none;}
.involv-in ul li h3 {
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 30px;
	font-weight: 900;
	color: #a64f2f;
	text-align:left;
	margin-bottom:15px;
}
.involv-in ul li p {
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 18px;
	color: #121212;
	text-align:left;
	margin-bottom:18px;
}


.director {padding-top: 30px;padding-bottom: 30px;}
.director .director-in {width:98%;}
.director-in .heading2 {font-size: 30px; line-height: 36px;	display:inline;}
.director-in ul {margin:30px 0 0 0;}



.who-we {padding-top: 30px; padding-bottom: 30px;}
.who-we .who-we-in {width:94%;}
.who-we-in p {font-size: 16px;	line-height: 30px;}



.gal {margin-bottom: 45px;	padding-bottom: 25px;}
.gal .new {width:90%; padding-bottom:30px;	padding-top: 25px;}
.gal h2 {font-size: 36px;padding-top: 20px;	padding-bottom: 14px;}
.gal .new #inline2 ul {}
.gal .new #inline2 ul li {margin:20px 1.5%;	width:96%; height:auto;}

}



@media only screen and (min-width: 570px) and (max-width: 770px){}


@media only screen and (min-width: 570px) and (max-width: 991px){

	
.involv .involv-in {width:98% !important;}
.involv-in ul li br {display:none;}
.involv-in ul li h3 {
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 30px;
	font-weight: 900;
	color: #a64f2f;
	text-align:left;
	margin-bottom:15px;
}
.involv-in ul li p {
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 18px;
	color: #121212;
	text-align:left;
	margin-bottom:18px;
}


.director {padding-top: 30px;padding-bottom: 30px;}
.director .director-in {width:98%;}
.director-in .heading2 {font-size: 30px; line-height: 36px;	display:inline;}
.director-in ul {margin:30px 0 0 0;}


.we-are {padding-top: 50px;	padding-bottom: 50px;}
.we-are .we-are-in {width:90%;}
.we-are-in .heading2 {font-size: 30px; line-height: 36px;}
.we-are-in ul {margin:30px 0 0 0;}
.we-are-in ul li {
	margin: 15px 1%;
	width:30%;
	height:auto;
	float:left;
	position:relative;
	text-align: center;
}
.we-are-in ul li .wepc img {width: 100%;}

.who-we {padding-top: 30px; padding-bottom: 30px;}
.who-we .who-we-in {width:94%;}
.who-we-in p {font-size: 16px;	line-height: 30px;}


.gal {margin-bottom: 45px;	padding-bottom: 25px;}
.gal .new {width:90%; padding-bottom:30px;	padding-top: 25px;}
.gal h2 {font-size: 36px;padding-top: 20px;	padding-bottom: 14px;}
.gal .new #inline2 ul {}
.gal .new #inline2 ul li {margin:20px 1.5%;	width:46%; height:auto;}
}




@media only screen and (min-width: 150px) and (max-width: 319px){

}



@media only screen and (min-width: 320px) and (max-width: 479px){

}



@media only screen and (min-width: 480px) and (max-width: 569px){
 
}



@media only screen and (min-width: 570px) and (max-width: 767px){

}



@media only screen and (min-width: 768px) and (max-width: 991px){

}



@media only screen and (min-width: 992px) and (max-width: 1199px) {

}



@media (min-width: 1200px) {

}




@media (min-width: 1340px){

}