@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,table,tr,td,th,p,ul,ol,li {
	font-family: 'Open Sans', sans-serif, Oswald, Roboto,  Raleway;
	margin: 0px;
	padding: 0px;
}
img {border:0;}
.toplog {
	background-color: #26211d;
	float: left;
	height: auto;
	width: 100%;
}
.toplog .toplog-in {height: auto; width: 1200px; margin:0 auto;}
.toplog-in .log {
	float: left;
	position: relative;
}
.social {
	float: right;
	position: relative;
	margin-top:18px;
	z-index: 1000
}
.social-tbl {float:left; position:relative; width:140px; margin-right:10px;}
.social-tbl a {opacity:0.7;}
.social-tbl a:hover {opacity:1;}
.searching {float:left; position:relative; width:240px; height:48px;}
.searching a {display:block; text-align:center; color:#FFF; border-radius:6px; line-height:36px; padding:0 6px; background-color:#e3171f;}
.searching a:hover {color:#000; background-color:#FFF; text-decoration:none;}

.mySlides {
	display: none;
	width: 600px;
	height: 400px;
}
.mySlides1 {
	display: none;
	width: 600px;
	height: 400px;
}
.mySlides2 {
	display: none;
	width: 600px;
	height: 400px;
}
.searching input[type="text"] {background-color:transparent; font-size:14px; line-height:36px; padding:0 6px; color:#FFFFFF; border-radius:0px; border:#4d4641 solid 2px; width:200px;}
.searching input[type="submit"] {
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	border:none;
	background-image: url(../images/search.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	height: 40px;
	width: 40px;
	position: relative;
}
.inner-ban {
	width:100%;
	height:198px;
	float:left;
	background-image: url(../images/banner1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.inner-ban-in {width:1200px; height:auto; margin:0 auto}
.inner-ban-in h1 {
	font-family: "Open Sans";
	font-size: 48px;
	line-height: 52px;
	color: #FFF;
	text-align: left;
	margin-top:80px;
	font-weight:700;
}
.events {
	background-color: #FFF;
	float: left;
	height: auto;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.events-in {
	width: 1200px;
	height: auto;
	margin:0 auto;
}
.events-in h2 {
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
	color: #d27e5f;
	border-bottom:solid 1px #d27e5f;
	display:inline;
	text-transform:uppercase;
	margin:25px 0;
}
.events-in p {
	font-family: "Open Sans";
	font-size: 20px;
	color: #1a1a1a;
	text-align:justify;
	line-height: 30px;
	margin:20px 0;
}
.gal {
	float: left;
	height: auto;
	width: 100%;
	background-image: url(../images/bg-cols.png);
	background-repeat: repeat;
	margin-bottom: 45px;
	padding-bottom: 25px;
}
.gal .new {
	height: auto;
	width: 1200px;
	padding-bottom:30px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 25px;
}
.gal .new #inline2 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.gal .new #inline2 ul li {
	list-style-type: none;
	margin:20px 1.1%;
	padding: 0px;
	float: left;
	background-repeat: no-repeat;
	height: 200px;
	width: 31%;
}
.gal .new #inline2 ul li img{height:100%;width:100%;}



.contac {
	background-color: #FFF;
	float: left;
	height: auto;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
}
.contac-in {
	width: 1050px;
	margin:0 auto;
	height:auto;
}
.addr {
	font-family: "Open Sans";
	font-size: 20px;
	line-height: 30px;
	color: #1a1a1a;
	background-color: #fff1eb;
	text-align:center;
	height:462px;
}
.addr h2 {font-size:30px;;}
.addr p {;}

.contnum {
	float: left;
	height: auto;
	width: 100%;
	background-color: #fff8f5;
	padding-top: 50px;
	padding-bottom: 50px;
}
.contnum .contnum-in {
	width:910px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.contnum-in h2 {
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 30px;
	font-weight: 700;
	color: #1a1a1a;
	border-bottom:solid 1px #a64f2f;
	display:inline;
}
.contnum-in p {
	font-family: "Open Sans";
	font-size: 24px;
	color: #1a1a1a;
	text-align: center;
	line-height: 28px;
}
.foundation {
	float: left;
	height: auto;
	width: 100%;
	background-color: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
}
.foundation .foundation-in {
	width:910px;
	height:auto;
	margin:0 auto;
	text-align:center;
	font-family: "Open Sans";
	font-size: 30px;
}
.foundation-in h2 {
	font-family: "Open Sans";
	font-size: 30px;
	line-height: 50px;
	font-weight: normal;
	color: #1a1a1a;
	display:inline;
}
.foundation-in p {
	font-family: "Open Sans";
	font-size: 20px;
	color: #1a1a1a;
	text-align: center;
	line-height: 35px;
}
.what-we-do {
	float: left;
	height: auto;
	width: 100%;
	background-color: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
}
.what-we-do .what-we-do-in {
	width:910px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.what-we-do-in h2 {
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	color: #d27e5f;
	border-bottom:solid 1px #d27e5f;
	display:inline;
	text-transform:uppercase;
	margin:60px 0;
}
.what-we-do-in p {
	font-family: "Open Sans";
	font-size: 20px;
	color: #1a1a1a;
	text-align: center;
	line-height: 30px;
	margin:20px 0;
}
.paperwork {width:100%; float:left; height:auto; text-align:center; margin:0 0 50px 0;}
.paperwork-in {width:1200px; height:auto; margin:0 auto;}
.eventdo {
	float: left;
	height: auto;
	width: 100%;
	background-color: #fff1eb;
	padding-top: 50px;
	padding-bottom: 50px;
}
.eventdo .eventdo-in {
	width:910px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.eventdo-in h2 {
	font-family: "Open Sans";
	font-size: 48px;
	line-height: 50px;
	font-weight: 700;
	color: #d27e5f;
	border-bottom:solid 1px #d27e5f;
	display:inline;
	text-transform:uppercase;
	margin:60px 0;
}
.eventdo-in p {
	font-family: "Open Sans";
	font-size: 26px;
	color: #1a1a1a;
	text-align: center;
	line-height: 38px;
	margin:20px 0;
}
.who-we {
	float: left;
	height: auto;
	width: 100%;
	background-color: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
}
.who-we .who-we-in {
	width:860px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.who-we-in p {
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 55px;
	color: #1a1a1a;
	text-align: center;
	margin:20px 0;
}
.we-are {
	float: left;
	height: auto;
	width: 100%;
	background-color: #fff1eb;
	padding-top: 50px;
	padding-bottom: 50px;
}
.we-are .we-are-in {
	width:1100px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.we-are-in .heading2 {
	font-family: "Open Sans";
	font-size: 40px;
	line-height: 46px;
	font-weight: 700;
	color: #a64f2f;
border-bottom:solid 1px #a64f2f;
	display:inline;
}
.we-are-in ul {
	list-style-type: none;
	margin:50px 0 0 0;
}
.we-are-in ul li {
	margin: 15px 1%;
	width:23%;
	height:auto;
	float:left;
	position:relative;
	text-align: center;
}
.we-are-in ul li .wepc {
	float: left;
	height: auto;

	margin-bottom:10px;
}
.we-are-in ul li .wepc img{
	width: 240px;
	height: 275px;
}
.director {
	float: left;
	height: auto;
	width: 100%;
	background-color: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
}
.director .director-in {
	width:1100px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.director-in .heading2 {
	font-family: "Open Sans";
	font-size: 40px;
	line-height: 46px;
	font-weight: 700;
	color: #a64f2f;
border-bottom:solid 1px #a64f2f;
	display:inline;
}
.director-in ul {
	list-style-type: none;
	margin:50px 0 0 0;
}
.director-in ul li {
	margin: 15px 1%;
	padding:25px 0;
	width:31%;
	height:auto;
	float:left;
	position:relative;
	text-align: center;
	background-color: #fff1eb;
	font-weight:600;
	font-size:16px;
	border-radius:4px;
	color:#777777;
}


.top {
	width: 100%;
	height:auto;
	background-image: url(../images/bg-top.jpg);
	background-repeat: repeat-x;
	float:left;
	background:#d27e5f;
}
.top .topin {height: 48px; width: 1200px; margin:0 auto;}
.topin .navg {width: 100%; height: auto; float:left;}
.follow {
	float: left;
	color:#ffffff;
	height: 48px;
	width: 189px;
	position: relative;
	line-height: 46px;
}
.follow img {vertical-align: middle;}
.follow a {margin-right: 4px; margin-left: 5px;}



.banner {
	float: left;
	height: 548px;
	width: 100%;
}
.banner #slideshow li {
	background-image: url(../images/01ban.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	list-style-type: none;
	height: 548px;
}
#slideshow .logs {
	background-image: url(../images/logo-bg.png);
	background-repeat: repeat-y;
	background-position: left top;
	height: 145px;
	width: 580px;
	margin-left: -130px;
	clear: both;
}
#slideshow  .logs  img {
	margin-right: 80px;
	margin-top:5px;
}
.px1002 {
	height: auto;
	width: 70%;
	margin-top: 150px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.px1002 .box {
	background-color: #000;
	height: auto;
	width: 320px;
	float: right;
	padding:45px 30px 35px 45px;
	background:rgba(0,0,0, .6);
}
.px1002 .box h1 {
	font-size: 30px;
	color: #FFF;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 20px;
	font-family: 'Raleway';
}
.px1002 .box h1 span {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
}

.px1002 .box p {
	font-size: 16px;
	color: #f3f3f3;
	font-family: Raleway;
	margin-right: 10px;
}
.px1002 .box p a {
	color: #f8ca2f;
	text-decoration: none;
	font-size: 16px;
	font-family: Raleway;
}







.donate {
	float: left;
	height: auto;
	width: 100%;
	background-color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
}
.donate .donate-in {
	width:1200px;
	height:auto;
	margin:0 auto;
}
.donate-in ul {
	list-style-type: none;
}
.donate-in ul li {
	float: left;
	width: 31%;
	position: relative;
	height: auto;
	margin:0 12px;
}
.donate-in ul li h4 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #3e3e3e;
	text-transform: capitalize;
	text-align: center;
}
.donate-in ul li .imag {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.donate-in ul li p {
	font-size: 14px;
	line-height: 20px;
	color: #3e3e3e;
	text-align: center;
}
.button2 {
	width: 140px;
	margin:0 auto;
	height: auto;
	margin-top:30px;
}
.button2 a {
	font-size: 14px;
	line-height: 32px;
	color: #3e3e3e;
	text-align: center;
	display: block;
	text-decoration: none;
	font-weight: 700;
	border:solid 2px #3e3e3e;
}
.button2 a:hover {color: #d27e5f;	border:solid 2px #d27e5f;}

.donate .click {
	font-size: 14px;
	color: #f3f3f3;
	font-family: Raleway;
	margin: 20px 36px 0 0;
	float:right;
}
.donate .click a {
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	font-family: Raleway;
	font-weight:700;
	background:#a64f2f;
	padding:6px 18px;
	border-radius:4px;
}
.donate .click a:hover {
	color: #000;
	opacity:0.8;
}


.left {
	border: 0px;
	display: float;
	float: left;
	margin-top: 200px;
	padding: 0px;
}


.right {
	border: 0px;
	display: float;
	float: right;
	margin-top: 200px;
	padding: 0px;

}

.left1 {
	border: 0px;
	display: float;
	float: left;
	margin-top: 200px;
	padding: 0px;
}


.right1 {
	border: 0px;
	display: float;
	float: right;
	margin-top: 200px;
	padding: 0px;
}


.left2 {
	border: 0px;
	display: float;
	float: left;
	margin-top: 200px;
	padding: 0px;
}


.right2 {
	border: 0px;
	display: float;
	float: right;
	margin-top: 200px;
	padding: 0px;
}

.whowe {
	float: left;
	height: auto;
	width: 100%;
	background-color: #fff8f5;
	padding-top: 50px;
	padding-bottom: 50px;
}
.whowe .whowe-in {
	width:910px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.whowe-in h2 {
	font-family: "Open Sans";
	font-size: 38px;
	line-height: 38px;
	font-weight: 700;
	color: #a64f2f;
	border-bottom:solid 1px #a64f2f;
	display:inline;
}
.whowe-in p {
	font-family: "Open Sans";
	font-size: 24px;
	color: #212121;
	text-align: center;
	line-height: 42px;
}
.buttons1 {text-decoration:none; background:#3a3634; font-weight:600; color:#FFF; padding:0px 12px; line-height:30px;}

.volun1 {
	float: left;
	height: auto;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #a64f2f;
}
.volun1 .volun1-in {
	height: auto;
	width: 1200px;
	margin:0 auto;
	text-align:center;
	font-size:18px;
	color:#FFF;
}
.volunteer {
	background-color: #d27e5f;
	background-image: url(../images/volunteer-bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float: left;
	height: auto;
	width: 100%;
	padding-top: 56px;
	padding-bottom: 56px;
}
.volunteer .volnbox {
	background-color: #a64f2f;
	float: left;
	height: auto;
	width: 385px;
	padding: 40px;
}
.volunteer-in {
	width: 1200px;
	margin:0 auto;
	height: auto;
}
.volnbox h2 {
	font-family: "Open Sans";
	font-size: 36px;
	font-style:italic;
	font-weight: 900;
	color: #FFF;
	text-align:left;
	line-height: 36px;
	margin-bottom:20px;
}
.volnbox p {
	font-family: "Open Sans";
	font-size: 18px;
	font-weight:normal;
	color: #FFF;
	text-align:left;
	line-height: 26px;
	margin-bottom:10px;
}









#inline2 {
	width: 650px;
}
/* PICS */
/*Range slide*/
.prds {
	float: left;
	height: auto;
	width: 100%;
	padding-top: 45px;
	padding-bottom: 55px;
	background-image: url(../images/bg-range-product.jpg);
	background-repeat: repeat;
	background-position: center top;
}
.prds .prd-ins {height: auto; width: 1200px; margin:0 auto;}
.prd-ins h3 {
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: normal;
	color: #212121;
	text-align: center;
	line-height: 30px;
	margin-bottom:30px;
}
.prd-ins h3 a {
	font-weight: 600;
	color: #212121;
	border-bottom:1px solid #a64f2f;
	text-decoration:none;
}
.prd-ins h3 a:hover {color: #a64f2f; border-bottom:1px solid #a64f2f;}
.prd-ins p {
	font-family: "Open Sans";
	font-size: 24px;
	color: #212121;
	text-align: center;
	line-height: 30px;
	margin-bottom:40px;
}

.prds .prd-ins .shebu {float: left; height: auto; width: 100%;}
.prds .prd-ins ul li {;}
.prds .prd-ins ul li:last-child {margin-right:0px;}
.prds .prd-ins ul li img {width:100%; opacity:0.9}
.prds .prd-ins ul li img:hover {opacity:1;}
/* PICS ENDS */


.inspiration {
	float: left;
	height: auto;
	width: 100%;
	background-image: url(../images/inspiration-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
	padding:40px 0;
}
.inspiration .inspiration-in {
	height: auto;
	width: 1100px;
	margin:0 auto;
}
.inspiration-in h2 {
	font-family: "Open Sans";
	font-size: 30px;
	line-height: 34px;
	font-weight: 400;
	color: #FFF;
	text-align:center;
	margin-bottom:25px;
	text-transform: uppercase;
}
.inspiration-in p {
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 30px;
	color: #FFF;
	text-align:center;
	margin-bottom:18px;
	font-style:italic;
}

.involv {
	float: left;
	height: auto;
	width: 100%;
	background-color: #a64f2f;
	padding-top: 70px;
	padding-bottom: 70px;
}
.involv .involv-in {
	width:1200px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
.involv-in h2 {
	font-family: "Open Sans";
	font-size: 48px;
	line-height: 52px;
	font-weight: 700;
	color: #FFF;
	border-bottom:solid 1px #FFF;
	display:inline;
}
.involv-in ul {
	margin: 50px 0 0 0;
	list-style-type: none;
}
.involv-in ul li {
	background:#fce3da;
	margin:0 1.6%;
	float:left;
	position:relative;
	display:block;
	height: 300px;
	width: 30%;
	padding:30px 2%;
}
.involv-in ul li h3 {
	font-family: "Open Sans";
	font-size: 30px;
	line-height: 34px;
	font-weight: 900;
	color: #a64f2f;
	text-align:left;
	margin-bottom:15px;
}
.involv-in ul li p {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 22px;
	color: #121212;
	text-align:left;
	margin-bottom:18px;
}
.involv-in ul li a {
	color:#121212;
	text-decoration:none;
}
.involv-in ul li a:hover {
	color:#a64f2f;
	text-decoration:underline;
}

.footr {
	float: left;
	height: auto;
	width: 100%;
	background-color:#121212;
}
.footr .footr-in {
	width:1200px;
	height:auto;
	margin:0 auto;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 20px;
	color: #FFF;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 24px;
}
