/* Ceterslide Style */
.fs-center-wrapper {
	position:relative;
}
.fs-center {
	overflow:hidden;
}
.fs-center ul {
	display: block;
}
.fs-center ul li {
	float:left;
	display:block;
}
.fs-center ul li a {
	border: none;
}
.fs-nav span {
	background:transparent url(../images/carousel-controls.png) no-repeat 0 0;
	position:absolute;
	top: 270px;
	width: 27px;
	height: 27px;
	text-indent:-9000px;
	cursor:pointer;
	right:15px !important;
}
.fs-nav span.fs-nav-next {
	left:555px !important;
	left:auto;
	background-position: -27px -27px;
	z-index: 99;
}
.fs-nav span.fs-nav-prev {
	right:565px !important;
	right:auto;
	background-position: 0 -27px;
	z-index: 99;
}
.fs-nav span.fs-nav-next:hover {
	background-position: -27px 0;
}
.fs-nav span.fs-nav-prev:hover {
	background-position: 0 0;
}