/* Elastislide Style */
.es-carousel-wrapper {
	position:relative;
}
.es-carousel {
	overflow:hidden;
}
.es-carousel ul {
	display: block;
}
.es-carousel ul li {
	float:left;
	display:block;
}
.es-carousel ul li a {
	border: none;
}
.es-nav span {
	background:transparent url(../images/carousel-contaa.png) no-repeat 0 0;
	position:absolute;
	top: -54px;
	width: 27px;
	height: 27px;
	text-indent:-9000px;
	cursor:pointer;
	right:15px !important;
}
.es-nav span.es-nav-next {
	right:0px;
	left:auto;
	background-position: -27px -27px;
	z-index: 99;
}
.es-nav span.es-nav-prev {
	right:45px !important;
	right:auto;
	background-position: 0 -27px;
	z-index: 99;
}
.es-nav span.es-nav-next:hover {
	background-position: -27px 0;
}
.es-nav span.es-nav-prev:hover {
	background-position: 0 0;
}