@charset "utf-8";
/* CSS Document */




/*****Navigation*****/
.ddsmoothmenu {
	width: auto;
	padding: 0;
	float:right;
	background-attachment: scroll;
	margin: 0px;
	height: auto;
}
.ddsmoothmenu ul { padding: 0; margin: 0; list-style-type: none; background: transparent; box-shadow: none; z-index: 100; }
.ddsmoothmenu ul li {
	margin:0;
	position: relative;
	display: inline;
	float: left;
}
.ddsmoothmenu ul li a {
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
	outline:none;
	display: block;
	line-height:46px;
	padding-left:17px;
	padding-right:17px;
	font-family: Raleway;
	font-weight:500;
	text-transform: uppercase;
}
.ddsmoothmenu ul li a:hover { color: #edb90b; background:#;}
.ddsmoothmenu ul li a.active { color: #edb90b; background:#;}
.ddsmoothmenu ul li a.selected { color:#edb90b; background:#;}
* html .ddsmoothmenu ul li a { display: inline-block; color: #000000; }

/*1st sub level menu*/
.ddsmoothmenu ul li ul { position: absolute; left: 0; display: none; visibility: hidden; background:#edb90b; background:rgba(237,185,11,.9);}
.ddsmoothmenu ul li ul li { padding:0; box-shadow: none !important; display: list-item; float: none;  }
.ddsmoothmenu ul li ul li:first-child { background: none; text-indent:inherit !important; }
.ddsmoothmenu ul li ul li a { width: 180px; margin: 0; line-height: 1.2em; font-size: 14px !important; padding:14px 14px; text-transform: none; box-shadow: none !important; color: #ffffff; text-align:left;}
.ddsmoothmenu ul li ul li a:hover, .ddsmoothmenu ul li ul li a.selected { color: #fff!important; background:#080806; }

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul { top: 0; margin-left: 5px; }

/* Holly Hack for IE \*/
* html .ddsmoothmenu { height: 1%; }
.downarrowclass, .rightarrowclass { display: none; }

.ddsmoothmenu .current-menu-item a:link, .ddsmoothmenu .current-menu-item a:active, .ddsmoothmenu .current-menu-item a:visited, .ddsmoothmenu .current-menu-item a:hover {color:#2286b5; }



/*****Banner*****/

#banner{
	width:100%;
	min-width:1002px;
	height:607px;
	position:relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	z-index: 1;
	float: left;
}
#banner ul li{
	width:100%;
	position:relative;
	background-repeat: no-repeat;
	background-position: center top;
	height: 607px;
}

#slideshow{ margin:0 auto;}
#slideshow .slidertxt{ position:absolute; bottom:151px; margin:0 0 0 151px;}
#slideshow .slidertxt h1{ font-family: 'Raleway', sans-serif; color:#01498c; background:url(../images/slider-txt.png) repeat-x; font-size:22px; font-weight:700; margin:0px; padding:12px 20px; text-transform:uppercase; text-shadow: 1px 1px 1px #fff; width:660px; height:28px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; text-align:center;}

#slideshow .slidertxt .appointment{ width:360px; height:67px; display:block; margin:32px 30px 0 0; position:absolute;}
#slideshow .slidertxt .appointment h2{  font-size:26px; font-weight:600; color:#fff; margin:0px; padding:3px 0 0 0; text-decoration:none; }
#slideshow .slidertxt .appointment nav{ margin:0 0 0 20px;}
#slideshow .slidertxt .appointment nav p{ color:#fff; font-size:13px; margin:0 0 0 0; }
#slideshow .slidertxt .appointment nav.appo{ background:url(../images/appo-icon.png) no-repeat left 9px; padding:0 0 0 65px;}
#slideshow .slidertxt .appointment.blue{ background:url(../images/appo-bg.jpg) repeat-x; border:#e5e5e5 solid 1px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px;}

#slideshow .slidertxt .call{ width:311px; height:67px; display:block; position:absolute; margin:32px 30px 0 0; left:390px;}
#slideshow .slidertxt .call h2{  font-size:30px; font-weight:600; color:#fff; margin:0px; padding:0px 0 0 0; text-decoration:none; }
#slideshow .slidertxt .call nav{ margin:0 0 0 20px;}
#slideshow .slidertxt .call nav p{ color:#fff; font-size:13px; margin:0px 0 0 0; padding:5px 0 0 0;}
#slideshow .slidertxt .call nav.call_icon{ background:url(../images/phone-icon.png) no-repeat left 7px; padding:0 0 0 65px;}
#slideshow .slidertxt .call.black{ background:url(../images/call-bg.jpg) repeat-x 50px; border:#e5e5e5 solid 1px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px;}


.banner .contn {
	height: 20px;
	width: 100%;
	position: absolute;
	z-index:999;
	margin-top:-40px;
}
.contn .in {
	height: 20px;
	width: 10%;
	margin:0 auto;
}
#pager{
	background-color:#CCC;
	z-index:999;
	margin:0 auto;
}
#pager a{ width:20px; height:20px; background:#FFF; display:block; float:left; text-indent:-9999px; margin:0 5px; border-radius:50%;}
#pager a.active_pager{ background:#f58220;}


/*****Treatment hour*****/
